<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="about_title">What We Do</h1>
</div>

<div id="about_container">

	<div class="row">
		<div id="about_text">
			<p class="text">We are a unique project facilitator that unites large clean energy project opportunities in Latin American emerging markets with the cutting edge commercial-ready technologies from the world’s innovation hubs.  Our mission is to create the first specialized channel for the exchange of clean technologies between Mexico and the United States, anchored by our extensive network of technology experts located in innovation hubs around the world who are able to identify those technologies most likely to successfully be deployed in targeted emerging countries.
			</p>
			</br>
			<p class="text">
			There are numerous barriers of entry for foreign clean tech companies to enter the Mexican market, which prevents pioneering technologies from being implemented where they are needed the most.  Global Catalyst is poised to overcome these challenges because of our proprietary access to project financing, our experienced project development team that has built some of the largest energy projects in Mexico, and our ability to navigate the project approvals process.  
			</p>
		</div>
	</div>
</div>
