
<div class="container" id="event_container">
	<h1 id="about_title">What We Do</h1>

	<div class="row">
		<div id="about_text">
			<p class="text">Global Catalysts is a project developer that uses groundbreaking sustainable technologies from the United States to enhance or replace the outdated technologies currently being used in Mexico. Our mission is to create the first official channel for the exchange of clean technologies between Mexico and the United States. 
		    There are numerous barriers of entry for foreign clean tech companies to enter the Mexican market, which prevents pioneering technologies from being exploited where they are needed the most. Facilitating the foreign market entry process for both American and Mexican companies creates a mutually beneficial exchange of sustainable technologies.
			</p>
		</div>
	</div>
</div>
