<div class="top_left_margin"></div>
<div class="left_box_margin_contact"></div>
<div class="top_margin">
		<h1 id="contact_title">Contact Us</h1>
</div>
<div class="top_right_margin_contact">
	<div class="contact_info">
	<h4>Contact Information</h4>
	<h5>337 Summer St.</h5>
	<h5>Ground Floor</h5>
	<h5>Boston, MA 02210</h5>
	<h5>Email: info@globalcatalysts.com.mx</h5>
</div>
</div>

<div id="contact_container">
		<iframe src="http://calm-cove-3159.herokuapp.com/" scrolling="no" id="contact_form">
  		<p>Your browser does not support iframes.</p>
		</iframe>
</div>

<div class="row">
		  <div class="center" id="content-size-contact">
		  
		  </div>
</div>