
<div class="top_left_margin"></div>

<div class="top_margin">
		<h1 id="event_title">Event</h1>
</div>
<div class="left_box_margin_events"></div>
<div class="top_right_margin_events"></div>

<div id="event_container">

	<div class="row">

		<div class="span4">
			<div id="event_text">

			<p id="event_text">Renewable Energy Policy Innovation in Mexico: an insider's perspective from former President Felipe Calderon on why Mexico is the next big renewable market opportunity</p>
			</div>
		</div>

		<div class="span3">

			<div id="event_image">
				<%= image_tag("harvard_club.png") %>
			</div>
		</div>
	</div>

	<div class="row">
		<div id="event_description" class="span8">
		<p class="text">The purpose of this conference is to create awareness of the numerous opportunities that Mexico has to offer in the clean energy industry. Former President Felipe Calderon was the architect of the legal framework that is driving the growth of the clean energy sector in the coming years.  President Calderon will address attendees regarding the national energetic strategy (ENE) which he created in 2012. This strategy states that Mexico must increase renewable energy generation from the current 4% of total energy to 35% by the year 2026. As such, there will be increasing opportunities in the Mexican clean energy sector led by government incentives and private sector investment. It is our hope that this event will confirm your already strong interest in the Mexican clean energy market.</p>
		</div>
	</div>

	<div class="row">
			<div id="event_map" class="span4">
			<div style="width:300px;height:220px"><iframe width="300" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=20%2BQuincy%2BSt%2BCambridge%2C%2BMA%2B02138%2B%E2%80%8E&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br><table width="300" cellpadding="0" cellspacing="0" border="0"><tr><td id="map_link" align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=20%2BQuincy%2BSt%2BCambridge%2C%2BMA%2B02138%2B%E2%80%8E&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td></tr></table>
			</div>
			</div>
			<div id="event_details" class="span4">

			<p class="event_details">Date: June 12, 2013</p>

			<p class="event_details">Time: 1:30 p.m. to 3:00 p.m.</p>

			<p class="event_details">Location: Harvard Faculty Club </p>

			<p class="event_details">20 Quincy St. Cambridge, MA 02138 </p>

			</div>
	</div>
</div>

</div>

<div class="row">
		  <div class="center" id="content-size-events">
		  
		  </div>
</div>