

<div class="container" id="event_container">

	<h1 id="event_title">Event</h1>

	<div class="row">

		<div class="span5">
			<div id="event_text">

			<p class="text">Renewable Energy Policy Innovation in Mexico: an insider's perspective from former President Felipe Calderon on why Mexico is the next big renewable market opportunity</p>

			<p class="text">Date: June 12, 2013</p>

			<p class="text">Time: 1:30 p.m. to 3:00 p.m.</p>

			<p class="text">Location: Harvard Faculty Club </p>

			<p class="text">20 Quincy St. Cambridge, MA 02138 </p>

			</div>
		</div>

		<div class="span4">

			<div id="event_image">
				<%= image_tag("harvard_club.png") %>
			</div>

			<div id="event_map">
			</div>
		</div>
	</div>
</div>