
	<div class="row">
		<div id="myCarousel" class="carousel slide">
		      <!-- Carousel items -->
		      <div class="carousel-inner">
		              <div class="active item">
		                 <%= link_to(image_tag('banner1.png', :class => "banner"), root_path ) %>
		              </div>
		              <div class="item">
		                 <%= link_to(image_tag('banner1.png', :class => "banner"), root_path) %>
		              </div>
		      </div>
		      <!-- Carousel nav -->
		      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>


		</div>

		 <div id="boxes" class="center">
		  <div class="span3" id="box1">
		   
		  </div>
		  <div class="span3" id="box2">
		  
		  </div>

		  <div class="span3" id="box3">
		    
		  </div>
		</div>
	</div>


