<div class="top_left_margin"></div>
<div class="left_box_margin_opportunities"></div>
<div class="top_margin">
		<h1 id="opportunities_title">Opportunities</h1>
</div>
<div class="top_right_margin_opportunites"></div>

<div id="opportunities_container">

	<div id="opportunities_text">
		<p class="text">
			<b>National Energy Strategy:</b> Created in Mexico in 2012, it states that by 2026 Mexico must increase renewable energy generation from the current 4% in 2012 to 35% by the year 2026. This has created new opportunities in the renewable energy sector and enables foreign cleantech companies to expand to the Mexican market. Investors seeking opportunities in renewable energy, water innovation technologies and waste management outside the United States should consider Mexico as their next target market. Mexico has an abundance of renewable power resources and a keen awareness of the environmental and economic benefit of alternative energy development. 
		</p>

		<div id="blue-graph">
		<%= image_tag("blue_graph.png") %>
		</div>

		
		<div id="orange-graph">
		<%= image_tag("orange_graph.png") %>
		</div>

		<p class="text">
			<b>Law for the effective use of renewable energy (LAERFTE):</b> LAERFTE was implemented in 2012 to promote the growth and development of renewable energy in the country.  This law obliges CFE (a government-owned utility that controls and monitors the country’s entire energy grid) to buy electricity produced from any and all private and public renewable energy projects under 30 MW. This recently implemented law offers business opportunities for foreign and domestic investment in the renewable energy industry.
		</p>

		<p class="text">
			<b>Net-Metering:</b> Allows residential and commercial clean energy producers to store excess electricity produced in the energy grid as credit for a period of one year. If a residential customer has a PV system that generates more electricity than their home uses, the excess electricity will be stored as credit and it can be used to compensate for low electric production at certain times of the day or year.
		</p>

		<p class="text">
			<b>Energy Portage:</b> Allows residential and commercial energy producers to input electricity to the grid and use it anywhere in the country. This mechanism maximizes each technology’s capabilities by allowing   projects to be constructed in locations that are ideal to each technology regardless of where the consumer is located. A company that produces clean energy in Southern Mexico can consume the equivalent amount of electricity anywhere in the country.
		</p>

	</div>
</div>

<div class="row">
		
		  <div class="center" id="content-size-opportunities">
		  
		  </div>
		
</div>