<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="opportunities_title">Opportunities</h1>
</div>

<div id="opportunities_container">

	<div id="opportunities_text">
		<p class="text">Investors seeking opportunities in renewable energy outside the United States should consider Mexico as their next target market. Mexico has an abundance of renewable power resources and a keen awareness of the environmental and economic benefit of alternative energy development. In 2012, the National Energy Strategy was created in Mexico, which states that by 2026 Mexico must increase renewable energy generation from the current 4% of total energy to 35% by the year 2026. This has created new opportunities for companies using renewable energy to compete, and it has prompted the Mexican government to look favorably on renewable energy projects.
		</p>
	</div>
</div>