<div id="opportunities_container">

	<h1 id="opportunities_title">Opportunities</h1>

	<div id="opportunities_text">
		<p class="text">The clean energy sector in Mexico is expected to grow exponentially during the next 10 years.  The National Energetic Strategy 
		</p>
	</div>

</div>