<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="about_title">Zacatecas Phase 1</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
	<div class="project_container">
			<div class="project_box_top_left">
				<h5 class="white">Type:</h5>
				<h5>Ground Mount</h5>
				<h5>Number of Modules:</h5>
				<h5>103,449</h5>
			</div>
			<div class="project_box_top_right">
				<iframe width="340" height="330" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=22%C2%B042'18.07%22N,+102%C2%B031'50.39%22W&amp;aq=&amp;sll=22.705019,-102.530664&amp;sspn=0.018963,0.04446&amp;ie=UTF8&amp;t=m&amp;ll=22.705255,-102.529907&amp;spn=1.722882,1.862183&amp;z=8&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=22%C2%B042'18.07%22N,+102%C2%B031'50.39%22W&amp;aq=&amp;sll=22.705019,-102.530664&amp;sspn=0.018963,0.04446&amp;ie=UTF8&amp;t=m&amp;ll=22.705255,-102.529907&amp;spn=1.722882,1.862183&amp;z=8&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
			<div class="project_box_bottom_left">
			</div>
			<div class="project_box_bottom_right">
				<h5 class="project_status">Project Status: Feasibility</h5>
			</div>
	</div>
</div>

<div class="row">
	
	  <div class="center" id="content-size-about">
	  
	  </div>
	
</div>