<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="about_title">What We Do</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div id="about_container">
		<div id="about_text">
			<p class="text">
				Project.
			</p>
			</br>
			<p class="text">
				Project.  
			</p>
		</div>
</div>
</div>

	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>