
<h4 id="contact_index_title">People Contacting Global Catalysts</h1>

<section>

<ul class="users"> <!-- this will change when you figure out css structure -->
	<%= render @contacts %> 
</ul>

<%= will_paginate %>
</section>