/* Contact */

$red: #C00000;
$green: #006600;
$grey: #BABABA;
$light-grey:#D8D8D8;
$blue:#0033FF;

#contact_container {
                    margin-top:140px;
	                position:absolute;
	                top:100px;
	                left:233px;
	                width:700px;
	                height:680px;
	                background-color:white;
	                border-color:solid 10px $grey;
                   }

h1#contact_title {font-family:Century;position:absolute;margin-left:5%;font-size:25px;margin-top:50px;color:white;}

#contact_form {position:absolute;left:-120px;width:810px;height:650px;top:0px;}

#content-size-contact {height:760px;}

.contact_info{margin-left:10px;margin-top:34px;}

/* Contact Form */

.contact_form {margin-left:50px;}

table#contact_table {width:400px;}

 h1 {margin-left:20%;}

 h4 {padding:10px;text-align:center;}

 h3.city {font-family:Century;color:black;}

 h3#contact_title {font-family:Century;color:black;position:relative;top:0px;left:15px;}

 h5 {margin-left:50px;}

 span.colon {font-family:Times;}

 .row {margin-left:0px;margin-top:30px;}

#submit {margin-left:270px;}

.contact_partial{width:85%;
				margin-left:auto;
				margin-right:auto;}

h4#contact_index_title {
		margin-top:120px;
}

.contact_button {
	position:relative;
	right:145px;
    background:#d80000;
    color:white;
    padding-left:110px;
    padding-right:110px;
    height:35px;
    border:none;
}
