@import "bootstrap";

/* mixins, variables, etc. */

$red: #C00000;
$green: #006600;
$grey: #BABABA;
$light-grey:#D8D8D8;
$blue:#0033FF;
$dark-grey:#505050;

/* universal */

html {
  overflow-y: scroll;
}

a {
  z-index:5000;
}

a:hover
{ 
font-color:$blue;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

.title {
  margin-left:5%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  color:#A00000;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  margin-left:3px;
  margin-right:3px;
}

div.top_margin {background-image: url(/assets/top_large_arc.png);
                width:1000px;
                height:100px;
                position:relative;
                top:100px;
                left:233px;
                margin-top:40px;}

div.top_left_margin {background-image: url(/assets/top_left_arc.png);
                    width:208px;
                    height:83px;
                    position:absolute;
                    top:157px;
                    left:25px;
                    margin-left:0px;
                    }

div.left_box_margin {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:25px;
                     width:208px;
                     height:470px;
                     z-index:2000;}

div.top_right_margin {background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:925px;
                      width:308px;
                      height:470px;
                      z-index:2000;}

div.left_box_margin_events {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:25px;
                     width:208px;
                     height:770px;}

div.left_box_margin_opportunities {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:25px;
                     width:208px;
                     height:1350px;}

div.top_right_margin_opportunites {
                      background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:925px;
                      width:308px;
                      height:1350px;
                      z-index:2000;
}

div.top_right_margin_events {
                      background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:925px;
                      width:308px;
                      height:770px;
                      z-index:2000;
}

div.left_box_margin_contact {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:25px;
                     width:208px;
                     height:680px;
                      z-index:2000;}

div.top_right_margin_contact {
                      background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:925px;
                      width:308px;
                      height:680px;
                      z-index:2000;
}

div.top_right_margin_solar {background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:925px;
                      width:308px;
                      height:650px;
                      z-index:2000;
                    }

div.left_box_margin_solar {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:25px;
                     width:208px;
                     height:650px;
                     z-index:2000;}


p.text {text-align:justify;padding-left:5px;padding-right:5px;}

/* header */

.dropdown {z-index:5000;}

/* The body of layout */
.container {width:100%;}

.row {margin-left:0px;}






