@import "bootstrap";

/* mixins, variables, etc. */

$red: #C00000;
$green: #006600;
$grey: #BABABA;
$light-grey:#D8D8D8;
$blue:#0033FF;

/* universal */

html {
  overflow-y: scroll;
}

a {
  z-index:1000;
}

a:hover
{ 
font-color:$blue;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

.title {
  margin-left:5%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  color:#A00000;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  margin-left:3px;
  margin-right:3px;
}

div.top_margin {background-image: url(/assets/top_large_arc.png);
                width:1000px;
                height:100px;
                position:absolute;
                top:100px;
                left:208px;
                margin-left:10px;
                margin-top:40px;}

div.top_left_margin {background-image: url(/assets/top_left_arc.png);
                    width:208px;
                    height:83px;
                    position:absolute;
                    top:157px;
                    margin-left:10px;
                    }

div.left_box_margin {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:10px;
                     width:208px;
                     height:470px;}

div.top_right_margin {background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:910px;
                      width:308px;
                      height:470px;}

div.left_box_margin_events {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:10px;
                     width:208px;
                     height:770px;}

div.left_box_margin_opportunities {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:10px;
                     width:208px;
                     height:1330px;}

div.top_right_margin_opportunites {
                      background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:910px;
                      width:308px;
                      height:1330px;
}

div.top_right_margin_events {
                      background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:910px;
                      width:308px;
                      height:770px;
}

div.top_right_margin_solar {background-color:$grey;
                      position:absolute;
                      top:240px;
                      left:910px;
                      width:308px;
                      height:630px;}

div.left_box_margin_solar {background-color:$grey;
                     position:absolute;
                     top:240px;
                     left:10px;
                     width:208px;
                     height:630px;}

@media screen and (max-width: 800px) {
    .top_left_margin {
        display: none !important;
    }
    .left_box_margin {
      display: none !important;
    }
}

@media screen and (min-width:800px) {
    .top_margin {
                background-image: url(/assets/top_large_arc.png);
                width:700px;
                height:100px;
                position:absolute;
                top:100px;
                left:208px;
                margin-left:6.7%;
                margin-top:40px;
              }
}

p.text {text-align:justify;padding-left:5px;padding-right:5px;}
/* header */

/* The body of layout */
.container {width:100%;}

.row {margin-left:0px;}


/* Navbar */

ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
display:inline;
text-align:center;
}

.navigation-bar {
                background: $grey;
                width:100%;
                height:30px;
                list-style: none;
                position:absolute;
}

.navigation-inner {
                  position:absolute;
                  top:40px;
                  right:0px;
                  margin-right:5%;
                  z-index:1000;
                  font-weight: bold;
}

.nav-links{}

#house_icon {margin-bottom:3px;}

#logo {
position:absolute;
margin-top:30px;
margin-left:3.2%;
z-index:1000;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Footer Don't forget the work around*/

footer {
  background-color:$grey;
  opacity:.7;
  height:100px;
  width:100%;
  margin-top:3%;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #999;
  position:absolute;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Carousel */


.banner_title {
  width:50%;
  height:40px;
  background-color:white;
  opacity:.7;
  position:absolute;
  top:35%;
  left:3%;
  z-index:2000;
}

h2#banner_title {
  color:$blue;
}

.banner_text {
  width:49%;
  height:20%;
  background-color:black;
  position:absolute;
  top:41.5%;
  left:4%;
  z-index:2000;
  opacity:.4;
}

#banner_quote {
               opacity:1.0;
               z-index:3000;
               font-weight:bold;
               color:white;
               margin-left:5.5%;
             }

.item {
  margin: auto;
  position:absolute;
}

.carousel {
  margin-top:7%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:92%;
  z-index:2000;
}

.carousel-inner {
}

.carousel-control {
 margin-left:0px;
 margin-right:0px;
}

/* Home */

#boxes {margin:0 auto;width:95%;height:260px;}

#box1 {width:27%; height:260px;max-height:260px;margin-left:1.3%;background-color:#FFFFFF;border:solid 2px $grey;}

#box2 {width:37%; height:260px;background-color:#FFFFFF;border:solid 2px $grey;}

#box3 {width:29%; height:260px;max-height:260px;background-color:#FFFFFF;border:solid 2px $grey;}

.home_icons {width:300px;}

.home_map {margin-top:15px;}


/* About */

#about_container {margin-top:140px;
                  position:absolute;
                  margin-left:79px;
                  top:100px;
                  left:139px;
                  width:700px;
                  height:470px;
                  background-color:$light-grey;
                  border-color:solid 10px $grey;
                  }

#about_title {position:absolute;margin-left:5%;font-size:25px;margin-top:50px;color:white;}

#about_text {width:600px;margin-left:7%;margin-top:20px;}

#content-size-about {opacity:0;height:700px;z-index:-1000;}

/* Events */

#event_container {margin-top:140px;
                  margin-left:82px;
                  position:absolute;
                  top:100px;
                  left:136px;
                  width:700px;
                  height:770px;
                  background-color:$light-grey;
                  }

#event_title {position:absolute;margin-left:5%;font-size:25px;margin-top:50px;color:white;}

#event_text {
    margin-top:80px;
    width:600px;
    margin-left:-4px;
    height:140px;
    width:300px;
            }

p#event_text {text-decoration: bold;text-align:justify;font-weight:bold;}

#event_image {background-color:$grey;
              margin-top:60px;
              margin-left:7px;
              border:1px solid;
              width:300px;
              }

#event_map {background-color:$grey;
            height:220px;
            width:300px;
            margin-top:20px;
            margin-left:10px;
            border:1px solid;
            opacity:.8;}

#event_description {
                    height:230px;
                    width:650px;
                    margin-top:20px;
                    margin-left:10px;
                  }

p.event_details {font-weight:bold;}

#event_details{margin-left:60px;margin-top:60px;}

#content-size-events {height:1005px;}

/* Contact */

#contact_container {margin-top:140px;
                    margin-left:80px;
                    position:absolute;
                    top:100px;
                    left:137px;
                    width:700px;
                    height:470px;
                    background-color:$light-grey;
                    border-color:solid 10px $grey;}

#contact_title {position:absolute;margin-left:5%;font-size:25px;margin-top:50px;color:white;}

#contact_form {width:600px;margin-left:33px;position:absolute;margin-top:20px;}

#content-size-contact {height:700px;}

/* Opportunites */

#opportunities_container {margin-top:140px;
                          margin-left:82px;
                          position:absolute;
                          top:100px;
                          left:135px;
                          width:700px;
                          height:1330px;
                          background-color:$light-grey;
                          border-color:solid 10px $grey;}

#opportunities_title {position:absolute;margin-left:5%;font-size:25px;margin-top:50px;color:white;}

#opportunities_text {width:600px;margin-left:33px;position:absolute;margin-top:20px;}

#content-size-opportunities {height:1600px;}

#orange-graph{border:solid 2px;margin-top:15px;margin-bottom:15px;}

#blue-graph{border:solid 2px;margin-top:15px;margin-bottom:15px;}

/* Energy Nav Bar */

div.energy_container {margin-top:140px;
                      position:absolute;
                      margin-left:79px;
                      top:100px;
                      left:139px;
                      width:700px;
                      height:470px;
                      background-color:$light-grey;
                      border-color:solid 10px $grey;
                      z-index:1000;
                     }

table {margin:auto;width:100%;font-size:13px;}

td {border: solid 2px $grey;}

a.energy_nav:hover {
                    font-weight:bold;
                    }

.energy_title {
              position:absolute;
              margin-left:5%;
              font-size:25px;
              margin-top:50px;
              color:white;
              }

p.energy_text {
              width:600px;
              text-align:justify;
              margin-top:10px;
              margin-left:50px;
             }

/* Custom Solar Page */

#solar_image {
              margin-left:70px;

             }

#content-size-solar {height:860px;}

div.energy_container_solar {margin-top:140px;
                      position:absolute;
                      margin-left:79px;
                      top:100px;
                      left:139px;
                      width:700px;
                      height:630px;
                      background-color:$light-grey;
                      border-color:solid 10px $grey;
                      z-index:1000;
                     }







