/* Home Page */

/* mixins, variables, etc. */

$red: #C00000;
$green: #006600;
$grey: #BABABA;
$light-grey:#D8D8D8;
$blue:#0033FF;
$dark-grey:#505050;

/* Normal Screen Size */

@media all and (min-width:1100px) and (max-width:1390px) {
/* Carousel */

.banner_title {
  width:50%;
  height:20%;
  background-color:white;
  opacity:.7;
  position:absolute;
  top:35%;
  left:0px;
  z-index:2000;
}

h2#banner_title {
  color:$blue;
  font-size:21px;
  padding-top:10px;
}

h2#banner_quote {
               opacity:1.0;
               z-index:3000;
               color:white;
               margin-left:5.5%;
               font-size:14px;
               letter-spacing:0.8px;
               font-weight: normal;
             }

.banner_text {
  width:50%;
  height:15%;
  background-color:black;
  position:absolute;
  top:55%;
  left:0px;
  z-index:2000;
  opacity:.4;
}

.item {
  margin: auto;
  position:absolute;
}

.carousel {
  margin-top:7%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:92%;
  z-index:2000;
}

.carousel-inner {
}

.carousel-control {
 margin-left:0px;
 margin-right:0px;
}

#boxes {margin-top:0px;}

#box1 {border:$grey 2px solid;float:left;width:28%;}

#box2 {border:$grey 2px solid;float:left;margin-left:2%;width:38.8%;min-height:100%;}

#box3 {border:$grey 2px solid;float:left;margin-left:2%;width:28%;height:290px;}

#feed-embed-stand-alone {width:99.5%;height:225px;margin-left:auto;margin-right:auto;}

#icon_map {display:block;margin-left:auto;margin-right:auto;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}

}

/* Mini Screen View */

@media all and (min-width:640px) and (max-width:1100px) {
/* Carousel */

.banner_title {
  width:50%;
  height:20%;
  background-color:white;
  opacity:.7;
  position:absolute;
  top:35%;
  left:0px;
  z-index:2000;
}

h2#banner_title {
  color:$blue;
  font-size:21px;
  padding-top:10px;
}

h2#banner_quote {
               opacity:1.0;
               z-index:3000;
               color:white;
               margin-left:5.5%;
               font-size:14px;
               letter-spacing:0.8px;
               font-weight: normal;
             }

.banner_text {
  width:50%;
  height:15%;
  background-color:black;
  position:absolute;
  top:55%;
  left:0px;
  z-index:2000;
  opacity:.4;
}

.item {
  margin: auto;
  position:absolute;
}

.carousel {
  margin-top:10%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:1000px;
  z-index:2000;
}

.carousel-inner {
}

.carousel-control {
 margin-left:0px;
 margin-right:0px;
}

#boxes {margin-top:0px;}

#box1 {border:$grey 2px solid;float:left;width:300px;}

#box2 {border:$grey 2px solid;float:left;margin-left:2%;width:348px;min-height:100%;}

#box3 {border:$grey 2px solid;float:left;margin-left:2%;width:300px;height:290px;}

#feed-embed-stand-alone {width:99.5%;height:225px;margin-left:auto;margin-right:auto;}

#icon_map {display:block;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}

}

/* 640px Screen */

@media all and (max-width:640px) {

/* Carousel Banner */

.banner_title {
  visibility:hidden;
  height:10px;
  top:0px;
}

h2#banner_title {
  visibility:hidden;
  height:0px;
  top:0px;
}

h2#banner_quote {
  visibility:hidden;
  height:0px;
  top:0px;
             }

.banner_text {
  visibility:hidden;
  height:0px;
  top:0px;
}

.item {
  margin: auto;
  position:absolute;
}

.carousel {
  margin-top:110px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:305px;
  height:100px;
  z-index:2000;
}

.carousel-inner {
}

.carousel-control {
 margin-left:0px;
 margin-right:0px;
}


/* Boxes */
#boxes {}

#box1 {border:$grey 2px solid;float:left;width:300px;margin-top:-130px;}

#box2 {border:$grey 2px solid;float:left;width:300px;min-height:100%;}

#box3 {border:$grey 2px solid;float:left;width:300px;height:100%;}

#feed-embed-stand-alone {width:300px;height:225px;}

#icon_map {display:block;margin-left:auto;margin-right:auto;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}
		
}

/* Smallest View */
@media all and (max-width:400px) {
    /* Boxes */

#boxes {}

#box1 {border:$grey 2px solid;float:left;width:300px;margin-top:-135px;}

#box2 {border:$grey 2px solid;float:left;width:300px;min-height:100%;}

#box3 {border:$grey 2px solid;float:left;width:300px;height:100%;}

#feed-embed-stand-alone {width:300px;height:225px;}

#icon_map {display:block;margin-left:auto;margin-right:auto;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}
    
}

/* Extra Large Screen View */

@media all and (min-width:1390px) {

#boxes {}

#box1 {border:$grey 2px solid;float:left;width:360px;margin-top:0px;}

#box2 {border:$grey 2px solid;float:left;width:500px;margin-left:290px;height:290px;margin-top:0px;}

#box3 {border:$grey 2px solid;float:left;width:360px;margin-left:290px;height:290px;margin-top:0px;}

#feed-embed-stand-alone {width:99.5%;height:225px;}

#icon_map {display:block;margin-left:auto;margin-right:auto;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}

}

/* Apple Iphone View */

@media all and (max-width:640px) {

/* Carousel Banner */

.banner_title {
  visibility:hidden;
  height:10px;
  top:0px;
}

h2#banner_title {
  visibility:hidden;
  height:0px;
  top:0px;
}

h2#banner_quote {
  visibility:hidden;
  height:0px;
  top:0px;
             }

.banner_text {
  visibility:hidden;
  height:0px;
  top:0px;
}

.item {
  margin: auto;
  position:absolute;
}

.carousel {
  margin-top:110px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  width:305px;
  height:100px;
  z-index:2000;
}

.carousel-inner {
}

.carousel-control {
 margin-left:0px;
 margin-right:0px;
}


/* Boxes */
#boxes {}

#box1 {border:$grey 2px solid;float:left;width:300px;margin-top:-130px;}

#box2 {border:$grey 2px solid;float:left;width:300px;min-height:100%;}

#box3 {border:$grey 2px solid;float:left;width:300px;height:100%;}

#feed-embed-stand-alone {width:300px;height:225px;}

#icon_map {display:block;margin-left:auto;margin-right:auto;}

h4.box_title {background-color:$grey;width:180px;height:25px;padding-top:5px;opacity:.7;}
    
}
