<footer>
	<nav>
		<ul>
			<li><%= link_to "Home |", root_path %></li>
			<li><%= link_to "What We Do |", "about" %></li>
			<li><%= link_to "Contact |", "contact" %></li>
			<li><%= link_to "Opportunities |", "opportunities" %></li> 
		</ul>
	</nav>
</footer>